html {
  scroll-behavior: smooth;

  // This defines what 1rem is
  font-size: 62.5%; // 1 rem = 10px
  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

*,
*::after,
*::before {
  margin: 0%;
  padding: 0%;
  box-sizing: inherit;
}

body {
  color: $color-white-0;
  box-sizing: border-box;
}

section {
  position: relative;
}

#background-wrapper {
  //COLORS: 0 0 0 / 0 0 0 / 14 103 103 / 103 0 104
  background: url('./../images/color-template.png') no-repeat center center fixed;
  background-size: 100% 100%;
}

#blog {
  @include boxWrapper;
}

#contact {
  @include boxWrapper;
}

#listen {
  @include boxWrapper;
}
