html {
  scroll-behavior: smooth;

  // This defines what 1rem is
  // font-size: 62.5%; // 1 rem = 10px
}

body {
  color: $color-white-0;
}

img {
  max-width: 100%;
}

section {
  position: relative;
}

#background-wrapper {
  //COLORS: 0 0 0 / 0 0 0 / 14 103 103 / 103 0 104
  background: url('./../images/color-template.png') no-repeat center center fixed;
  background-size: 100% 100%;
}
