$color_brown-0: #eee;
$color_grey-2: #cfcfcf;
$color_grey-1: #ccc;
$color_grey-0: #777;
$color_grey-3: #555;
$color_grey-4: #333;

// ORIGINAL COLORS
// $color_brown-0: #333;
// $color_grey-2: #555;
// $color_grey-1: #777;
// $color_grey-0: #ccc;
// $color_grey-3: #cfcfcf;
// $color_grey-4: #eee;

// $color_white-1: #f4f8fb;
// $color_white-0: #fff;
// $color_black-0: #000;
// $color_black-1: #111;

$color_white-2: #212121;
$color_white-1: #111;
$color_white-0: #000;
$color_black-0: #fff;
$color_black-1: #f4f8fb;

$color_purple-0: #242943;
$color_purple-1: #670068;
$color_blue-0: #34495e;
$color_green-0: #00a99b;
$color_green-1: #0e6767;

$color_purple-1: rgba(22, 22, 171, 0.1);

// BACKGROUND-COLORS: #000000 / #000000 / #0e6767 / #670068
