.footer-wrapper {
  padding: 4.5rem 0 4rem;
  background-color: $color_purple-1;
  border-top: $color-green-0 solid 2px;
}

.copyright {
  margin: 0;
  padding: 3rem 0 0;
  line-height: 3.5rem;
  font-size: 1.5rem;
}

.brand-logo {
  display: inline-block;
  img {
    height: 10rem;
  }
}
