.brand-logo {
  display: inline-block;
  img {
    height: 100px;
  }
}
.header-wrapper {
  padding: 13px 0;
  background-color: $color_purple-1;

  border-bottom: $color-green-0 solid 2px;
  &:after {
    content: '';
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -2;
  }
}
.brand-logo--header img {
  height: 40px;
  color: $color-black-0;
}
#main-menu ul {
  margin: 0;
  padding: 0;
  li {
    padding: 0 18px;
    display: inline-block;
    position: relative;
    a {
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      color: $color_white-0;
      line-height: 42px;
      letter-spacing: 0.7px;
      &:hover {
        color: $color-grey-1;
      }
    }
    &:after {
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 100%;
      width: 4px;
      height: 4px;
      bottom: 18.8px;
      right: -3px;
      position: absolute;
      content: '';
    }
    &:last-child:after {
      display: none;
    }
  }
}

.social-share {
  margin: 0;
  li {
    a {
      display: inline-block;
      padding: 8px 0 0;
    }
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}
