$hero-height: 80vh;

.hero-wrapper {
  height: $hero-height;
  position: relative;
}

.hero-picture {
  max-width: 65%;
}

.hero-content {
  position: absolute;
  top: calc(#{$hero-height} / 30);
  left: 0%;
}
