.listen-wrapper {
  height: 100vh;
}
#soundcloud {
  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 10rem;
  margin-top: 2rem;

  @include respond(tab-port) {
    padding-bottom: 5rem;
  }
}

.soundcloud_player {
  position: absolute;
  top: 8rem;
  left: 10%;
  width: 80%;
  bottom: 0;

  @include respond(tab-port) {
    left: 0%;
    width: 100%;
  }
}
